:root {
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #2F3273;
  text-align: center;
}

img{
  width: 350px;
  height: 400px;
}
/* Structure */


.tree section  {
  margin: auto; 

}

.tree h1 section{
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;

}

#tree-list {
  text-align: center;


}

h2{
  color: #F28F16;
}
#tree-list img{
  background-color: #72A689;
  padding: 10%;
  margin : 0%;
  margin-bottom: 5%;



}

#tree-list h1{
  text-align: center;

  background-color: #72A689;
  padding: 0%;
  margin: 0%;

}

#tree-list section section{
  text-align: center;
  margin: auto; 




  flex-direction: row;
}



h1 {
  color:#F23322;
}

h3 {
  text-align: center;
}

p {
  color: #F28F16;
  font-size: xx-large;
}



#dialog-details {
  padding: 10px;
  background: #206A73;
  margin: 10px;
}

.w3-modal-content
{width: 100%;  
}

.w3-container
{width: 100%;  
}
.hidden {
  display: none;
}

#result p {
  background: #223240;
  color: white;
  padding: 5px;
}

#dialog-content {
  text-align: left;
  font-size: medium;
}
/* Larger Resolutions */

@media only screen and (min-width: 600px) {
  .columns {
    display: flex;
    flex-wrap: wrap;
  }
  .w3-modal-content {
    width: 75% !important;
}

  .gallery {
    flex-wrap: wrap;
  }



  .one {
    flex: 1;
  }

  .three {
    flex: 3;
  }
}
