:root {
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #223240;
  text-align: center;
}

img{
  width: 300px;
  height: 400px;
}
/* Structure */


.tree {
  background-color: green;
  width:80%;

  

}

.tree h1 section{
  margin-left: 0px;
  margin-right: 0px;

}


#tree-list section{
  padding: 0px;
  margin: 10px;
  width: 100%;


  flex-direction: row;
}



h1 {
  color: #f27d52;
}

h3 {
  text-align: center;
}

p {
  color: #223240;
  font-size: xx-large;
}



#dialog-details {
  padding: 10px;
  background: white;
  margin: 10px;
}

.w3-modal-content
{width: 100%;  
}

.w3-container
{width: 100%;  
}
.hidden {
  display: none;
}

#result p {
  background: #223240;
  color: white;
  padding: 5px;
}

#dialog-content {
  text-align: left;
  font-size: medium;
}
/* Larger Resolutions */

@media only screen and (min-width: 600px) {
  .columns {
    display: flex;
    flex-wrap: wrap;
  }
  .w3-modal-content {
    width: 75% !important;
}

  .gallery {
    flex-wrap: wrap;
  }



  .one {
    flex: 1;
  }

  .three {
    flex: 3;
  }
}
