body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;



}

background-color{
    width: 100%;
}

/*top Navigation*/
main.columns, footer.columns{
    position: sticky;
    padding-left: 0%;


}

#top li{
    margin-left: 5px;
    margin-right: 5px;

    text-align: center;
    font-size: smaller;

}


#top a{
    
    color: white;
    text-decoration: none; /*Remove underline */
}



#top ul /*ul*/
{
    /* Remove list indent */
    /* why is a comma needed here*/
    list-style-type: none;
    margin: 0%;
    right: 0;
    left: 0;
    justify-content: end;
    background-color: #000000;
    



}





/*middle header*/
#header-middle{
    background-color: #000000;
    color: white;
   
    
}

#header-middle {
    text-align:left
}
 #search {
    display: flex;
    justify-content: end;
    padding-right: 5px;
}

#search h1{
  
    text-align: left;
    width: 40%;
    border: 1px solid white;
    height: 30%;
    
}






#logo-text h1{
    margin: 0px;
    padding: 0px;
}
#logo-text h3{
    margin: 0px;
    padding-top: 20px;
}

#title{
    margin: 0;
    margin-bottom: 30px;

    padding: 5px;
}

#header-middle .columns{
    padding-bottom: 15px;
}

/*side nav*/
#side-nav ul 
{
    /* Remove list indent */
    /* why is a comma needed here*/
    list-style-type: none;
    background-color: white;
    padding-inline-start: 0%;
    margin-right: 20px;
    margin-top: 0;  


}
#side-nav li{
    border-bottom: 2px solid gray;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;

}

#first{
    border-top: 2px solid gray;
}

#side-nav a{
    text-decoration: none; /*Remove underline */
    color: #000000;
}
#side-nav{
    height: min-content;
}
    
#side-nav a:hover{
    
    background-color: #CC2E40;
    }


/*bottom header*/
#title
{
    background-color: #73000A;
    color: white;
}

#logo-pic {
    flex: 0 0 auto;
    width:100px;
    padding-right: 5px;
}

#logo-pic img{
    flex: 0 0 auto;
    width:100px;
    padding-right: 5px;
}


/*main*/


.container{
    width: 100%;
    height: 400px;
    background-image: url("https://place-hold.it/200x200");
    background-size: 100% 100%;


}


/*main middle*/

#main-mid h3{
    margin-top: 0%;
}

#main-mid .three{
    padding-left: 5px;  
    padding-right: 10px;

}

#text{
    border-bottom: 1px solid gray;

}

#mainb p  {
    padding-bottom: 10px;


}

#main-mid a {
    text-decoration: none;
    color: black;


}
.box {
    border-bottom: 2px solid gray;
    margin: 10px;
}

.box:hover{

    background-color: #F0F0F0;
}
   
#main-mid a h3{
 color: #73000A;
}

/*right boxes*/
#right-nav h4{
    color: #5C5C5C;
}

#right-nav h5{
    color:#73000A;
}

#right-nav h1{
    color:#73000A;
}

#right-nav h2{
    color:#73000A;
}

#right-nav a{
    color:#73000A;
    font-weight: bold;
}

#right-nav img{
    object-fit: contain;
}

#right-nav div{
    padding-top: 0;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 10px;

    margin-bottom: 10px;
    border-right: 1px solid #C7C7C7;
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
    border-left: 5px solid #73000A;
}

#right-nav h4{
    margin: 0;
    padding-top: 5px;

}

#bottom-box{
    background-color: #ECECEC;
}

#bottom-box img{
    max-width: 100%;
}
/*footer*/
#footer{
margin-top: 10%;
max-width: 5000px;

}

#footer-title{
    background-color: #ECECEC;
}

#footer-main{
    background-color: #ECECEC;
}

#footer-title li{
    display: inline;
    margin-left: 5px;

    text-align: end;
    font-weight: bold;

}


#footer-title a{
    color: black;
    text-decoration: none; /*Remove underline */
}



#footer-title ul /*ul*/
{
    /* Remove list indent */
    /* why is a comma needed here*/
    list-style-type: none;
    right: 0;
    left: 0;
    justify-content: end;

}


#footer-middle{
    background-color: #73000A;
    color: white;
    
}

#footer-middle {
    text-align:left
}

#socials {
    display: flex;
    justify-content: end;
    padding-right: 5px;
}

#socials img{
    padding-top: 10px;
    width: 5%;
    height: 40%;
    padding-right: 10px;
    
}

.headers-f h4{
    border-bottom: 1px solid white;
    margin-right: 10%;

}

.headers-f ul 
{
    /* Remove list indent */
    /* why is a comma needed here*/
    list-style-type: none;
    padding-inline-start: 0%;
    margin-right: 20px;
    margin-top: 0;  
}

.headers-f li{
    padding-top: 5px;
    padding-bottom: 5px;

}

.headers-f a{
    text-decoration: none; /*Remove underline */
    color: white;
}


#footer-bottom li{
    margin-left: 5px;
    margin-right: 5px;

    text-align: center;
    font-size: smaller;

}


#footer-bottom a{
    
    color: white;
    text-decoration: none; /*Remove underline */
}



#footer-bottom ul /*ul*/
{
    /* Remove list indent */
    /* why is a comma needed here*/
    list-style-type: none;
    background-color: #000000;
    margin: 0%;
    right: 0;
    left: 0;
    justify-content: left;
    border-top: 1px solid white;
    padding-inline-start: 0px;


}

 

.full-bleed {
    box-shadow: 0 0 0 100vmax red;
    clip-path: inset(0 -100vmax); 
  }
@media only screen and (min-width: 768px) {



.columns {
    display: flex;
}
.container img
{
    object-fit: contain;
}
.one
 {
    flex: 1;
}
.half
 {
    flex: .5;
}
.two {
    flex: 2;
}


.three {
    flex: 3;
}
 img {
    max-width: 100%;


    /* for centering */

}


#logo-pic {
    flex: 0 0 auto;
    width:100px;
    padding-right: 5px;
}
#side-nav ul 
{
    /* Remove list indent */
    /* why is a comma needed here*/
    list-style-type: none;
    background-color: white;
    padding-inline-start: 0%;
    margin-right: 20px;
    margin-top: 0;  
   
}

#top li{
    margin-left: 5px;
    margin-right: 5px;

    text-align: end;
    font-size: smaller;

}

#footer-bottom li{
    margin-left: 5px;
    margin-right: 5px;

    text-align: left;
    font-size: smaller;

}

}
