body{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    padding-left: 20%;    
padding-right: 20%;
 
}


/*top Navigation*/

#top li{
    text-align: end;
    margin: 5px;
    font-size: smaller;

}


#top a{
    color: white;
    text-decoration: none; /*Remove underline */
}



#top ul /*ul*/
{
    /* Remove list indent */
    /* why is a comma needed here*/
    list-style-type: none;
    background-color: #000000;
    margin: 0%;
    right: 0;
    left: 0;
}


#top .three{
 padding-left: 20%;

}

/*middle header*/
#header-middle{
    background-color: #000000;
    color: white;
    
}

#header-middle {
    text-align:left
}

#search {
    text-align: center;
}

#logo-pic{
    max-width: 100px;
    max-height: 100px;
    padding-right: 10px;

}

#logo-text h1{
    margin: 0px;
    padding: 0px;
}
#logo-text h3{
    margin: 0px;
    padding-top: 20px;
}


/*side nav*/
#side-nav ul 
{
    /* Remove list indent */
    /* why is a comma needed here*/
    list-style-type: none;
    background-color: white;
    padding-inline-start: 0%;
    margin-right: 20px;
    margin-top: 0;  
}
#side-nav li{
    border-bottom: 2px solid gray;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;

}

#first{
    border-top: 2px solid gray;
}

#side-nav a{
    text-decoration: none; /*Remove underline */
    color: #000000;
    


}
/*bottom header*/
#title
{
    background-color: #73000A;
    color: white;
}

img.logos  {
    max-width: 100%;
    max-height: 100%;
    padding-left: 100px;


}

/*main*/
#main-photo{
    width: 600px;
    height: 300px; /*how would i fit this to my main col*/
    border:3px solid #000000;
}


/*main middle*/
#main-mid img{
    width: 100%;
    height: 50%;

}
@media only screen and (min-width: 768px) {

.columns {
    display: flex;
}
.container img
{
    object-fit: contain;
}
.one
 {
    flex: 1;
}
.half
 {
    flex: .5;
}
.two {
    flex: 2;
}
.one,
.top-nav li {
    flex: 1;
}

.three {
    flex: 3;
}
 img {
    max-width: 100%;


    /* for centering */

}
}
