/*body*/


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #80BF9B;
    color: #D9C589;

}

/*Positioning*/
#main-header{
    text-align: center;
}

#name{
    text-align: left;
}




/*Main Navigation*/

/* no longer need
#nav li{
    background: #D9C589;
    padding: 5px;
    border-bottom: none;
    border-bottom: 2px solid transparent;
    text-decoration: none; /*Remove underline 

}
*/

#nav a{
    color: black;
    text-decoration: none; /*Remove underline */
    padding: 7px;
    text-align: center;

}



/* not needed right now
.list a:hover{
    background: #80BF9B;
    color: #D9C589;
    border-bottom: 2px solid white;

}
*/

/* Typography */

h1 {
    background: #5E8C6E;
    color:#262626;
    text-align: center;
}

p{
    text-align: left;
}


/* beg information  */

#intro {
    background:#A68A56;
    padding: 5px;
    border-bottom: none;
    border-bottom: 2px solid transparent;}

#description
{
    background: #654321;

}


/* For larger resoultions */
@media only screen and (min-width: 768px) {
    .columns{
        gap: 10px 20px;
        display: flex;
        flex-direction: row;
        padding: 15px 25px;

    }

    .columns section{
        text-align: center;
        padding: 15px 25px;
        background: #654321;
        /*Top and bottom padding, then left and righ padding */
    }
    .one
    {
        flex: 1;
    }
  

   
    .columns img {
        /*  for centering */
        display: block;
        margin: auto;
        width: 300px;
        height: 150px;
        padding: 15px 15px; 


    }
}



