body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightgrey;
}

/* Structure */
#content {
    background: #fff;
    padding: 5px;
    width: 80%;
    margin: auto; /*Center horizontally */
    border-radius: 5px;
}
.hidden{
    display: none;
}

/* Typography */

h1 {
    color: darkslategray;
}

.special{
    background: lightpink;
    size: 2em;
    color: magenta;
    border: 2px dotted magenta;
}
